name: Test

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        env:
          BUNDLE_GEMFILE: ruby/Gemfile
        with:
          ruby-version: 4.0.0
          bundler-cache: true
      - name: Bootstrap
        run: make bootstrap
      - name: Run tests
        run: make
